################################################################
# 网关服务器配置信息:登录并分发客户端
################################################################
[GateServer]

################################################################
# APP配置
AppID = 0
AppKey = "app_key"
InstanceID = 0

# 侦听端口
ServerPort = 3724

# 绑定IP
BindIP = "0.0.0.0"

######################################################################
# MYSQL配置

# "ip;port;username;password;database"
DatabaseInfo = "127.0.0.1;3306;root;111111;yunpai"

# 工作线程数量
Database.WorkerThreads = 1

# 和数据库心跳间隔
MaxPingTime = 30

######################################################################
# 日志配置

# 日志目录
LogsDir = "./log"

# 0 - 无
# 0x01 - 控制台
# 0x02 - 文件
# 0x03 - 网络
# 0x04 - 数据库
LogDevice = 3

