################################################################
# 网关服务器配置信息:登录并分发客户端
################################################################
[GateServer]

################################################################
# 认证服务配置
#

# 日志目录
LogsDir = ""

# 和数据库心跳间隔
MaxPingTime = 30

# 侦听端口
ServerPort = 3724

# 绑定IP
BindIP = "0.0.0.0"

# 密码错误n次账号或IP禁止
# 0  - 关闭
# 1+ - 启用
WrongPass.MaxCount = 0
# 禁止时间
# 600 - 10分钟
WrongPass.BanTime = 600
# 禁止类型
# 0 - 封IP
# 1 - 封账号
WrongPass.BanType = 0


######################################################################
# MYSQL配置

# "ip;port;username;password;database"
LoginDatabaseInfo = "127.0.0.1;3306;root;111111;yunpai"

# 工作线程数量
LoginDatabase.WorkerThreads = 1

######################################################################
# 日志配置

# 格式: Type,LogLevel,Flags,optional1,optional2,optional3
# Type:
# 0 - 无
# 1 - 控制台
# 2 - 文件
# 3 - 数据库
#
# LogLevel
# 0 - 禁用
# 1 - 跟踪
# 2 - 调试
# 3 - 信息
# 4 - 警告
# 5 - 错误
# 6 - 致命错误
#
# Flags
# 0 - 无
# 1 - 前缀时间戳
# 2 - 前缀日志级别
# 4 - 前缀日志过滤类型
# 8 - 日志文件名带时间戳
# 16 - 覆盖前备份

Appender.Console = 1,2,0
Appender.Auth = 2,2,0,Auth.log,w

Logger.Root = 0,3,Console Auth
